server:
  port: 3000

spring:
  application:
    name: fs-spring
  profiles:
    active: win
  servlet:
    multipart:
      max-file-size: 50MB # 设置单个文件的最大大小。如果上传的文件超过这个大小，将会抛出异常。
      max-request-size: 50MB # 设置整个请求的最大大小。这包括所有的文件和其他表单数据。如果整个请求的大小超过这个值，将会抛出异常。
  #      file-size-threshold: 10MB # 这个属性用于设置写入磁盘的文件的大小阈值。如果上传的文件大小超过这个阈值，那么文件将会被写入到磁盘，而不是保存在内存中。这可以防止大文件上传消耗过多的内存。
  #      location: C:/tmp/tmp # 这个属性用于设置临时文件的存储位置。当文件大小超过 file-size-threshold 时，文件将会被写入到这个位置。
  mvc:
    static-path-pattern: /file/**
  web:
    resources:
      static-locations: file:${vitamin.upload-path}
